/* Imports */
/* Importing all the fonts which are used in this website and are all functional  */


@import url('https://fonts.googleapis.com/css?family=MuseoModerno');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=::Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=::Raleway');
@import url('https://fonts.googleapis.com/css?family=::Patrick+Hand');
@import url('https://fonts.googleapis.com/css?family=::oxygen+mono');
/* notes 

- The borders which are commented out are used for only testing content 

- Every section is seperated by comments and a 2 liner space  */


/* css reset  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* Setting the scroll wheel of html  */

html{
    scroll-behavior: smooth;
}


















/* Navigation bar designing  */

.navigation span {
    text-align: right;
}  

.navigation{
    position: sticky;
    display: flex;
    background-color:   rgb(37, 35, 35);
    top: 0;
    left: 0;
}
.para{
    width: 50%;
    align-self: center;
    font-family: 'bree serif';
    font-size: 30px;
    color: white;
    padding-left: 10px;
}
.nav-list{
    position: sticky;
    width: 50%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navigation li{
    justify-content: right;
    align-items: right;
    list-style: none;
    padding: 3px;
    margin-right: 10px;
}
.navigation p{
    color: white;
}
.navigation li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: right;
    padding: 6px;
    font-family: 'museomoderno';
    transition: 0.8s;
}
.navigation li a:hover{
    color:  #f2aa4cff;
    transition: 0.8s;
}

/* Navigation bar ends here  */














#container {
  height: 100vh;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
#container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  color: rgb(0, 0, 0);
  overflow: hidden;
  font-family: 'Patrick Hand';
  background-color: #f2aa4cff;
}
#container p span.typed-text {
  font-weight: normal;
  color: #000000;
}
#container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
#container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}
#container::before{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    background: url('https://burst.shopifycdn.com/photos/developer-coding-in-php.jpg?width=1200&format=pjpg&exif=0&iptc=0') center center/cover;
    width: 99vw;
    height: 100vh;
    background-attachment: fixed;
    z-index: -1;
    opacity: 0.950;

}



















/* body content starts here  */


#body{
    position: relative;
    width: 100%;
    height: 100vh;
    /* background: url('imgflower.jpg'); */
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.8;
}
#body h1{
    color: white;
    font-family: 'Raleway';
    font-size: 2.8rem;
    display: block;
    background-color: black;
    padding: 2px 10px;
}

/* Know more button here  */


#knowmore{
   
    color: white;
    background-color: #007bff;
    padding: 10px 20px;
    margin: 30px 2px;
    font-size: 27px;
    transition: 0.4s;
    font-family: 'patrick hand';
    display: block;
    text-align: center;
    border: 1px solid #007bff;
    border-radius: 10px;
}
#knowmore:hover{
    cursor: pointer;
    background-color: rgb(0, 98, 255);
    transition: 0.4;
}
#button{
    display: flex;
}
#studybtn{
    color: white;
    background-color: #43e21b;
    padding: 10px 20px;
    margin: 30px 2px;
    font-size: 27px;
    transition: 0.4s;
    font-family: 'patrick hand';
    display: block;
    text-align: center;
    border: 1px solid  #37971f;
    border-radius: 10px;
}
#studybtn:hover{
    cursor: pointer;
    background-color: rgb(16, 192, 0);
    transition: 0.4;
}
   #knowmore{
    color: white;
    background-color: #007bff;
    padding: 10px 20px;
    margin: 30px 2px;
    font-size: 27px;
    transition: 0.4s;
    font-family: 'patrick hand';
    display: block;
    text-align: center;
    border: 1px solid #007bff;
    border-radius: 10px;
}
#knowmore:hover{
    cursor: pointer;
    background-color: rgb(0, 98, 255);
    transition: 0.4;
}
/* know more button or a ends here  */

/* main banner and body ends here  */





















/* about section starts here  */
#aboutme{
    display: flex;
    padding-top: 3%;
}
#photo img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: 20px;
}
#mine h1{
    font-family: 'MuseoModerno';
    font-size: 50px;
    text-align: center;
    padding: 20px;
}
#mine p{
    font-size: 30px;
    padding: 24px;
    font-family: 'Patrick Hand';

}
.rule hr{
    display: block;
    margin: 60px auto;
    width: 40%;
}

/* about section ends here  */

















/* cards sectin starts here  */

#cards h1 {
    font-family: 'MuseoModerno';
    text-decoration: underline;
    text-align: center;
    font-size: 45px;
}

.services h2 {
    font-family: 'MuseoModerno';
    color: rgb(0, 0, 0);
    text-align: center;
    font-size:40px;
    text-decoration: underline;
}
.services p{
    color: rgb(0, 0, 0);
    font-family: 'Patrick Hand';
}

.services {
    display: flex;
    margin: 17px;
    font-family: 'Bree Serif';
}

.services .box {
    border-radius: 10px;
    border: 2px solid rgb(195, 190, 190);
    padding: 20px;
    margin: 2px 8px;
    background: rgb(255, 252, 252);
}

.services .box img {
    height: 190px;
    display: block;
    margin: auto;
}

/* cards ends here  */



















/* footer designing  */

footer{
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
}

/* Footter ends here  */



















/* media queries for responsiveness of main html  */

/* Media query ipad view  */

@media only screen and (max-width: 1082px) {
    #body h1{
        font-size: 30px;
    }
    .services{
        flex-direction: column;
    }
    .container p{
        font-size: 2rem;
    }
  }


  /* little small i pad view  */
  

  @media only screen and (max-width: 988px) {
    #aboutme{
        flex-direction: column;
    }
    #photo{
        margin: 3px auto;
    }
   
  }

  /* Big screen mobile view  */

  @media only screen and (max-width:797px){
      .navigation ul{
        flex-direction: column;
      }
      #body h1{
        font-size: 20px;
    }
    .container p{
        font-size: 1.5rem;
    }
  }
  /* mobile view  */

  @media only screen and (max-width:454px){
    
    #body h1{
      font-size: 15px;
  }
  #lstli{
      font-size: 20px;
  }
}

/* small screen mobile view  */

@media only screen and (max-width:436px){
   #photo img{
       width: 200px;
       height: 200px;
   }
   #mine p{
       font-size: 18px;
   }
   .services .box img{
       height: 100px;
   }
}


/* main .css ends here and the styling of main . html ends here Thanks for visiting the code  */
