
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.schoolwork{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.headingschool{
    font-family: 'Museomoderno';
    font-size: 40px;
    margin: 10px 2px;
}

.schoolpara{
    font-family: 'Oxygen Mono';
    font-size: 28px;
    padding: 5px 0;
}
.schoolpara a{
    font-size: 25px;
}

  /* Big screen mobile view  */

  @media only screen and (max-width:797px){
    .headingschool{
        font-size: 37px;
    }
    .schoolpara{
        font-size: 22px;
    }
    .schoolpara a{
        font-size: 18px;
    }
  }
  /* mobile view  */

  @media only screen and (max-width:548px){
    .headingschool{
        font-size: 32px;
    }
    .schoolpara{
        font-size: 18px;
    }
    .schoolpara a{
        font-size: 15px;
    }
}

/* small screen mobile view  */

@media only screen and (max-width:481px){
  .headingschool{
      font-size: 25px;
  }
  .schoolpara{
      font-size: 16px;
  }
  .schoolpara a{
    font-size: 13px;
}
}

@media only screen and (max-width:371px){
    .headingschool{
        font-size: 20px;
    }
    .schoolpara{
        font-size: 14px;
    }}
    .schoolpara a{
        font-size: 10px;
    }
  

