@import url('https://fonts.googleapis.com/css?family=MuseoModerno');
@import url('https://fonts.googleapis.com/css?family=::Patrick+Hand');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.schoolwork{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.headingschool{
    font-family: 'Museomoderno';
    font-size: 40px;
    margin: 10px 2px;
}

.schoolpara{
    font-family: 'patrick hand';
    font-size: 28px;
    padding: 5px 0;
}



@media only screen and (max-width:839px){
   #contactul li{
       font-size: 20px;
       padding: 0;
       /* margin: 0; */
   }
}

