.socialEnroll{
    font-size: 50px;
    font-family: 'patrick hand';
    margin: 4px 0px;
}
#social{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.socialul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.socialList{
    font-family: 'oxygen mono';
    list-style: none;
    text-align: center;
    margin-top: 40%;
    padding: 10%;
}
#socialLink{
    font-size: 64px;
    color: #000;
    border-radius: 50%;
    box-shadow: 0 20px 14px rgba(0,0,0,.5);
}
#socialLink .fab{
    border-radius: 50%;
    width: 150%;
    height: 150%;
    text-align: center;

}
.socialul li:nth-child(1) #socialLink:hover{
    background-color: #E4405F;
}
.socialul li:nth-child(2) #socialLink:hover{
    background-color: #0077b5;

}
.socialul li:nth-child(3) #socialLink:hover{
    background-color: red;
}
 
.socialul li:nth-child(4) #socialLink:hover{
    background-color: red;
}
@media only screen and (max-width: 575px){
    .socialEnroll{
        font-size: 35px;
    }
    .socialList{
        font-size: 17px;
    }
    #socialLink{
        font-size: 50px;
    }
}
@media only screen and (max-width: 411px){
    .socialEnroll{
        font-size: 25px;
    }
    .socialList{
        font-size: 13px;
    }
    #socialLink{
        font-size: 30px;
    }
}
@media only screen and (max-width: 279px){
    .socialEnroll{
        font-size: 20px;
    }
    .socialList{
        font-size: 10px;
    }
    #socialLink{
        font-size: 16px;
    }
}