/* other html files styling  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#coursesbody h1{
    text-align: center;
    font-size: 40px;
    font-family: 'MuseoModerno';
    text-decoration: underline;

}
#coursesimage img{
    width: 740px;
    height: 400px;
    margin: 10px auto;
    display: block;
}
#courses li{
    text-align: center;
    font-size: 30px;
    margin: 30px 2px;
    list-style: disc;
    font-family: 'Raleway';
}





@media only screen and (max-width:839px){
    #coursesimage img{
        width: 400px;
        height: 200px;
    }
}

@media only screen and (max-width:839px){
   #courses li{
       font-size: 20px;
   }
}

@media only screen and (max-width:401px){
    #coursesimage img{
        width: 200px;
        height: 100px;
    }
    
}